h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.4;
    @media only screen and (max-width: 991px) {
        font-size: 27px;
    }
    @media only screen and (max-width: 767px) {
        font-size: 24.5px;
    }
}

h2 {
    font-size: 33px;
    font-weight: 700;
    @media only screen and (max-width: 767px) {
        font-size: 24px;
    }
}

h3 {
    font-size: 25px;
    font-weight: 600;
    @media only screen and (max-width: 767px) {
        font-size: 23px;
    }
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
}


// 40, 38, 28, 24, , ,

// font-family: "Poppins", sans-serif;
// font-family: "Inter", sans-serif;
